
.jumbotron {
    background-color: #062f4f;
    margin: 10px;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #bb2601;
    text-shadow: -2px -2px white;
}

.introText {
    color: white;
}

.taskDisplay  {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-right: -5px;
    height: 900px;
    padding-left: 5px;
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

.tasksHeader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0.5rem 0;
    background-color: #813772;
    color: white;
    margin-left: -40px;
    margin-right: 5px;
    padding: 5px;
}

.tasksEntries, .allTasksEntries {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #e7dfdd;
    color: black;
    margin-left: -40px;
    margin-right: 5px;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-color: #813772;
    word-wrap: break-word;
}

.listEditButton, .listDeleteButton {
    width: 25%;
    height: 33.3px;
    margin-right: 3px;
    font-size: xx-small;
}

.displayTodaysTasks {
    display: block;
}

.displayAllTasks {
    display: none;
}

.createTask {
    display: none;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    display: table;
    width: 60%;
    margin-left: 20%;
}

form label {
    margin-bottom: 2.5px;
}

form input, textarea, select {
    width: 425px;
    margin-bottom: 10px;
}

textarea {
    min-height: 200px;
}

.formHeader {
    text-align: center;
    background-color: #813772;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
}

.formContent {
    background-color: #e7dfdd;
    color: black;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-color: #813772;
    word-wrap: break-word;
}

.formButtonSubmit, .formButtonClear {
    width: 15%;
    height: 10%;
    margin-right: 10px;
}

.formButtonSubmit {
    background-color: greenyellow;
    color: black;
}

.formButtonClear {
    background-color: #4717f6;
}

button {
    background-color: #bb2601;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 445px;
    margin-left: -5px;
}

.btnView {
    margin-top: 10px;
}

.btnImage {
    width: 80%;
    height: 80%;
}

.btnCreateTop {
    display: block;
    text-transform: uppercase;
    font-size: x-large;
}

.btnCreateBottom {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: x-large;
}

.btnViewTasks {    
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: x-large;
}

.btnToday {
    display: block;
    text-transform: uppercase;
    font-size: x-large;
}

.sortLabel {
    margin-bottom: -5px;
}

.sortSelect {
    width: 10%;
    margin-bottom: -5px;
}

footer { 
    width: 98.5%;
    color: white;
    text-align: center;
}

.carousel-inner {
    font-style: italic;
}

.carousel-inner > .item {
    transition: 1s;
}

@media only screen and (max-width: 600px) { 

}

@media only screen and (min-width: 600px) { 

}

@media only screen and (min-width: 768px) { 

}

@media only screen and (min-width: 992px) { 

}

@media only screen and (min-width: 1200px) { 

}
